services:
  frontend:
    env_file:
      - ./frontend/.env
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:8080"
  mongodb:
    image: mongo:7
    restart: always
    container_name: mongodb-container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

  backend:
    env_file:
      - ./backend/.env
    build: ./backend
    container_name: backend
    ports:
      - 5500:5500
    depends_on:
      - mongodb
    environment:
      MONGO_URI: mongodb://root:password@mongodb:27017/testing?authSource=admin

volumes:
  mongo-data:
